*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100%;
    display: grid;
    height: 100%;
    place-items: center;
    background: linear-gradient(to right, rgb(201, 252, 201), rgb(147, 224, 147),rgb(107, 248, 107));
}

.wrapper {
    /* border: 2px solid black; */
    overflow: hidden;
    background: #fff;
    max-width: 390px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 40px 1px rgb(110, 148, 110);
}

.wrapper .title-box {
    /* border: 2px solid red; */
    display: flex;
    width: 200%;
}

.wrapper .title-box .title {
    width: 50%;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.wrapper .form-box {
    /* border: 2px solid blue; */
    width: 100%;
    overflow: hidden;
}

.form-box .slide-controls {
    border: 1px solid rgb(126, 121, 121);
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    border-radius: 4px;
    margin: 30px 0 10px 0;
    overflow: hidden;
}

.slide-controls .slide {
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    z-index: 1;
    color: white;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.6s ease;
}

.slide-controls .slide-tab {
    /* border: 2px solid red; */
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 4px;
    background:linear-gradient(to right, rgb(32, 150, 32), rgb(42, 235, 42)) ;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.slide-controls .signup {
    color: black;
}

input[type="radio"] {
    display: none;
}
/* squarebrackets "[]" are used to target element attributes--- syntax: .class[attr="attrName"]{style;} */

#signup:checked ~ .slide-tab{
    left: 50%;
}
/* hashtag "#" is used to target an element using its id attribute--- syntax: #id{style;} */
/* colon ":" is used to target elements based on condition--- syntax: .class:condition{style;} */

#signup:checked ~ .signup{
    color: white;
}

#signup:checked ~ .login{
    color: black;
}

.form-box .form-inner {
    /* border: 2px solid black; */
    display: flex;
    width: 200%;
}

.form-box .form-inner form {
    /* border: 2px solid red; */
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.form-box .form-inner .login .input, 
.form-box .form-inner .signup .input {
    /* border: 2px solid green; */
    margin-top: 20px;
    /* margin-bottom: 5px; */
}

.login .input input,
.signup .input input {
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid rgb(126, 121, 121);
    border-radius: 4px;
    outline: none;
    transition: all 0.4s ease;
}

.login .input input:focus,
.signup .input input:focus {
    border: 1px solid rgb(42, 235, 42);
}

.login .signup-link,
.signup .signup-link {
    /* border: 2px solid green; */
    margin-top: 30px;
    text-align: center;
}

.signup .signup-link a:active ~ .slide-tab {
    left: 50%;
}

.login .password-link,
.signup .password-link {
    /* border: 2px solid red; */
    margin-top: 5px;
}

a {
    text-decoration: none;
    color: rgb(42, 235, 42);
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

.form-box .form-inner form .input .button {
    background: linear-gradient(to right, rgb(32, 150, 32), rgb(42, 235, 42) );
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
}

.form-box .form-inner form .input .button:hover {
    background: linear-gradient(to left, rgb(32, 150, 32), rgb(42, 235, 42) );
    cursor: pointer;
}